---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | Blog`}
      description="A random assortment of things I've written about"
    />
  </head>
  <body>
    <Header />
    <main class="mx-auto flex min-h-screen flex-col items-center">
      <h2 class="text-xl">Posts</h2>
      <section class="grid grid-cols-12">
        <div class="md:col-span-3"></div>
        <ul
          class="col-span-12 mt-4 items-center px-8 text-sm md:col-span-6 md:text-lg"
        >
          {
            posts.map((post) => (
              <li class="group hover:border-emerald">
                <a
                  class="flex flex-row items-center gap-8"
                  href={`/blog/${post.slug}`}
                >
                  <p class="group-hover:underline">{post.data.title}</p>
                  <FormattedDate
                    class="whitespace-nowrap text-sm italic opacity-50 md:text-lg"
                    date={post.data.pubDate}
                  />
                </a>
              </li>
            ))
          }
        </ul>
        <div class="md:col-span-3"></div>
      </section>
    </main>
    <Footer />
  </body>
</html>
