@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 241 245 249; /* slate 100 */
    --color-black: 2 6 23; /* slate 950 */
    --color-grey: 203 213 225; /* slate 300 */
    --color-emerald: 16 185 129; /* emerald 500 */
    --color-pink: 157 23 77; /* pink 800 */
    --color-foreground: var(--color-black);
    --color-background: var(--color-white);
  }

  :root[class~="dark"] {
    --color-white: 248 250 252; /* slate 300 */
    --color-black: 2 6 23; /* slate 950 */
    --color-grey: 51 65 85; /* slate 700 */
    --color-emerald: 110 231 183; /* emerald 300 */
    --color-pink: 249 168 212; /* pink 300 */
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
  }
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

a {
  border-color: transparent;
}

.mdx ul,
ol,
li {
  list-style: revert;
  list-style-position: inside;
}

ul li p,
ol li p {
  display: inline;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-light-webfont.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
