@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 241 245 249;
    /* slate 100 */
    --color-black: 2 6 23;
    /* slate 950 */
    --color-grey: 203 213 225;
    /* slate 300 */
    --color-emerald: 16 185 129;
    /* emerald 500 */
    --color-pink: 157 23 77;
    /* pink 800 */
    --color-blue: 14 165 233;
    /* sky 500 */
    --color-yellow: 253 230 138;
    /* amber 200 */
    --color-red: 254 202 202;
    /* red 200 */
    --color-purple: 147 51 234;
    /* purple 600 */
    --color-active: var(--color-emerald);
    --color-accent: var(--color-pink);
    --color-foreground: var(--color-black);
    --color-background: var(--color-white);
  }

  :root[class~="dark"] {
    --color-white: 248 250 252;
    /* slate 300 */
    --color-black: 2 6 23;
    /* slate 950 */
    --color-grey: 51 65 85;
    /* slate 700 */
    --color-emerald: 110 231 183;
    /* emerald 300 */
    --color-pink: 249 168 212;
    /* pink 300 */
    --color-blue: 2 132 199;
    /* sky 600 */
    --color-yellow: 217, 119, 6;
    /* amber 600 */
    --color-red: 220 38 38;
    /* red 600 */
    --color-purple: 240 171 252;
    /* purple 300 */
    --color-active: var(--color-emerald);
    --color-accent: var(--color-pink);
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
  }

  :root[class~="eighties"] {
    --color-white: 245 245 220;

    --color-blue: 43 209 252;
    --color-yellow: 255 219 88;
    --color-red: 255 61 90;
    --color-purple: 255 145 255;
    --color-emerald: 0 191 156;

    --color-brown: 139 69 19;
    --color-teal: 64 224 208;

    --color-active: var(--color-teal);
    --color-accent: var(--color-yellow);
    --color-foreground: var(--color-white);
    --color-background: var(--color-brown);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}

a {
  border-color: transparent;
}

.anchor-icon {
  @apply inline-block pl-4 text-foreground hover:text-active;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-light-webfont.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/wotfard-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
