---
export interface CalloutProps {
  intent: "info" | "warning" | "danger" | "tip" | "random";
}

const { intent } = Astro.props;
import {
  Info,
  HandCoins,
  Warning,
  WarningOctagon,
  Fish,
} from "@phosphor-icons/react";
---

<div
  class:list={[
    "my-8 mx-6 rounded py-4 border-2",
    { "border-blue": intent === "info" },
    { "border-yellow": intent === "warning" },
    { "border-red": intent === "danger" },
    { "border-emerald": intent === "tip" },
    { "border-purple": intent === "random" },
  ]}
>
  <header
    class:list={[
      "px-4 flex items-center gap-2 font-bold",
      { "text-blue": intent === "info" },
      { "text-yellow": intent === "warning" },
      { "text-red": intent === "danger" },
      { "text-emerald": intent === "tip" },
      { "text-purple": intent === "random" },
    ]}
  >
    {intent === "info" && <Info size={24} />}
    {intent === "tip" && <HandCoins size={24} />}
    {intent === "warning" && <Warning size={24} />}
    {intent === "danger" && <WarningOctagon size={24} />}
    {intent === "random" && <Fish size={24} />}
    <span>
      {intent === "info" && "Info"}
      {intent === "tip" && "Tip"}
      {intent === "warning" && "Warning"}
      {intent === "danger" && "Caution"}
      {intent === "random" && "Random"}
    </span>
  </header>
  <div class="px-6">
    <slot />
  </div>
</div>
