---
import { LinkedinLogo, GithubLogo } from "@phosphor-icons/react";

const today = new Date();
---

<footer
  class="mb-20 mt-12 border-t border-foreground/10 bg-background pt-8 text-center text-foreground"
>
  &copy; {today.getFullYear()} Noah Gorstein. All rights reserved.
  <div class="mt-4 flex justify-center gap-4">
    <a
      class="transition-colors hover:text-active"
      href="https://github.com/noahgorstein"
      target="_blank"
    >
      <GithubLogo size={32} />
    </a>
    <a
      class="transition-colors hover:text-active"
      href="https://www.linkedin.com/in/noahgorstein/"
      target="_blank"
    >
      <LinkedinLogo size={32} />
    </a>
  </div>
</footer>
