---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "rounded-lg border-2 p-2 transition-colors hover:border-2 hover:border-active hover:text-active",
    className,
    { "border-active font-bold text-active": isActive },
  ]}
  {...props}
>
  <slot />
</a>
