---
import type { Heading } from "./TableOfContents.astro";

interface Props {
  heading: Heading;
  firstItem: boolean;
  lastItem: boolean;
}

const { heading, firstItem, lastItem } = Astro.props;
---

<li class:list={[{ "pb-2": !lastItem }, { "pt-2": firstItem }]}>
  <a href={"#" + heading.slug} class="text-sm hover:underline">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class:list={["list-none px-4 py-0"]}>
        {heading.subheadings.map((subheading, index) => (
          <Astro.self
            heading={subheading}
            firstItem={index === 0}
            lastItem={index === heading.subheadings.length - 1}
          />
        ))}
      </ul>
    )
  }
</li>

<style>
  .active {
    @apply font-bold text-pink;
  }
</style>
