---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ProjectGrid from "../../components/ProjectGrid";
import { SITE_TITLE } from "../../consts";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const projectData = projects.map((p) => ({
  title: p.data.title,
  description: p.data.description,
  slug: p.slug,
}));
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | Projects`}
      description="A collection of projects I've worked on."
    />
  </head>
  <body>
    <Header />
    <main class="flex min-h-screen flex-col items-center p-8">
      <h2 class="text-xl">Projects</h2>
      <ProjectGrid client:idle projects={projectData} />
    </main>
    <Footer />
  </body>
</html>
